  
.memory-virtual,
.memory-fisica,
.logs {
  margin: 20px auto;
  padding: 10px;
  max-width: 800px;
  width: 100%;
  border: 2px solid var(--main);
  background-color: var(--light);
  display: grid;
  gap: 20px;
}

.paginacao {
    padding: 100px 10px;
    h2 {
        text-align: center;
        font-size: rem(20);
    }
}
.memory-virtual {
  background-color: rgba(230, 204, 255, 0.253);
}

.memory-list, .page-list {    
    @include flex(10px);
}
.memory-fisica {
  background-color: rgba(218, 255, 216, 0.575);
}

.page,
.frame {
  padding: 15px;
  border: 1px solid var(--main);
  border-radius: 5px;
  background-color: var(--light);
}

.page {
  background-color: var(--main2);
  cursor: pointer;
}

.frame {
  background-color: rgba(174, 253, 171, 0.582);
  max-width: fit-content;
}

.logs {
  min-height: 150px;
  @include flex(10px, start);
  flex-direction: column;
}

#log-list {
    text-align: center;
}